.chatWindow {
  border: 1px solid #555;
  background-color: ghostwhite;
  padding: 1em;
  width: 100%;
  height: 300px;
  overflow: auto;
  margin-bottom: 1em;
}

.chatWindow .messages{
  font-size: 1em;
  color: black;
  margin-bottom: .7em;
}
.chatWindow .header {
  font-size: 0.8em;
  color: #555;
}

.chatWindow .user .name {
  color: red;
}

.chatWindow .admin .name {
  color: green;
}

.chatWindow .admin .body {
  color: green;
  font-style: italic;
}
