html {
  font-size: 100%;
}

/* index [age ]*/
.centered-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0%, rgba(49, 84, 129, 1) 100%);
}

.centered-from__form {
  width: 320px;
  background: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  padding: 0 20px 20px 20px;
  margin: 20px;
}

/*chat page*/
.chat {
  display: flex;
  min-width: 800px;
}

/* chat__sidebar */
.chat__sidebar {
  min-width: 250px;
  height: 100vh;
  background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0%, rgba(49, 84, 129, 1) 100%);
}

.chat__sidebar h1 {
  font-size: 2.5rem;
  margin: .5em;
  font-weight: bold;
  color: #fff;
}

.chat__sidebar ol {
  list-style-position:inside;
  padding: 0;
}

.chat__sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/* chat__main */
.chat__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* chat__messages */
.chat__messages {
  flex-grow: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #222;
  list-style: none;
  padding: .8rem;
}

.chat__messages li {
  padding: .4rem;
}

.message__header {
  font-size: .9rem;
  color: #777;
}

.message__body p {
  font-size: 1rem;
  margin-top: .2rem;
}

.message__user {
  color: #000;
  font-weight: bold;
}

.chat__messages a:link {
  text-decoration: underline;
}

li.admin, li.admin div, li.admin span {
  color: rgba(39, 107, 130, 1);
}

/* chat__footer */
.chat__footer {
  background: #ccc;
  display: flex;
  padding: .8rem;
  flex-shrink: 0;
}

.chat__footer form {
  flex-grow: 1;
  display: flex;
}

.chat__footer input {
  flex-grow: 1;
  border: none;
  font-size: 1.2rem;
  padding: .4rem;
}

.chat__footer button {
  border: none;
  font-size: 1.2rem;
  padding: .4em;
  background: #265f82;
  color: white;
  transition: background .3s ease;
  margin-left: 0.5em;
  cursor: pointer;
  white-space: nowrap;
}

.chat__footer button:hover {
  border: none;
  background: #1F4C69;
  color: white;
}

.chat__footer button:disabled {
  cursor: default;
  background: #698ea5;
}

@media (max-width: 860px) {
    .chat__sidebar {
      display: none;
    }
}
