extends ../includes/layout

block main-content
  .container
    h3 Welcome to the chat app
    
    .chatWindow#chatWindow
    
    .form.form-horizontal
      .form-group
        .col-md-2
          label.control-label(for="from") Name
        .col-md-10
          input.form-control(id="from")
      .form-group
        .col-md-2
          label.control-label(for="text") Message
        .col-md-10
          textarea.form-control(id="text")
      .form-group
        .col-md-12.text-center
          button.btn.btn-primary.btn-lg.btn-block(onclick="sendMessage()") Send
