extends ../includes/layout

block main-content
  .centered-form
    .centered-from__form
      form(action="/chat")
        .form-group
          h1.text-center Join a Chat
        .form-group
          label.control-label(for="name") Display Name
          input.form-control(id="name" name="name" autofocus required)
        .form-group
          label.control-label(for="name") Room Name
          input.form-control(id="room" name="room" required)          
        .form-group
          button.btn.btn-primary.btn-block Join
    
